body{
  font-family: monaco;
}
header {
  text-align: center;
  background: url('../imgs/background.jpg');
  background-size: cover;
  color: white;
}
img {
  margin-top: 40px;
  border: 7px solid black;
  border-radius: 50%;
}
h1 {
  font-size: 70px;
  padding: 20px;
  background-color: black;
  text-shadow: 2px 2px greenyellow;
}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
li {
  display: inline;
  padding-right: 20px;
}
a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}
article {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  text-align: center;
}
article p {
  font-size: 25px;
}
footer {
  margin-top: 10%;
  margin-bottom: 5%; 
  text-align: center;
}
#footer-links {
  background-color: white;
}

#footer-links a {
  color: black;
}
@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}