header {
    text-align: center;
    background-image: url("./dallas_skyline.jpg");
    background-size: cover;
    color: white; 
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 70px;
    padding: 20px;
    background-color: black;
    text-shadow: 2px 2px red;
    border: 2px solid white;
}
ul {
    padding: 10px;
    background-color: rgba(0,0,0,0.5)
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

img {
    margin-top: 40px;
    border: 7px solid black;
    border-radius: 20px;
}
article{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

button {
    padding: 5px;
    border-radius: 10%;
}
